/* Светлая тема */

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");

  --accent-color: #ff8dcb;
  --accent-color-transparent: rgba(50, 49, 45, 0.4);

  --main-title-color: #ffc2e6;
  --main-title-shadow-color: #ff8dcb;

  --title-decor-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;

  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");

    --accent-color: #ff8dcb;
    --accent-color-transparent: rgba(50, 49, 45, 0.4);

    --main-title-color: #ffc2e6;
    --main-title-shadow-color: #ff8dcb;

    --title-decor-color: #353430;
    --text-color: #353430;
    --section-title-color: #353430;

    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
  }

  :root:not(.theme-dark) .header__rec {
    display: none;
  }
}